@page "/createsupermarket"
@inject Services.ApiService apiService
@inject NavigationManager Navigation

<h3>Create Product</h3>

<div class="row">
    <EditForm Model="@supermarket" OnValidSubmit="InsertSupermarket">


        <FormFieldSet Width="col-10">
            <label for="supermarketName" class="font-weight-bold text-secondary">Name</label>
            <InputText @bind-Value="supermarket.Name" class="form-control" id="supermarketName" />
            <ValidationMessage For="@(() => supermarket.Name)" />
        </FormFieldSet>

        <div class="form-group">
            <input type="submit" class="btn btn-success" value="Create Supermarket" />
            <NavLink href="supermarket" class="btn btn-info">Back to supermarket list</NavLink>
        </div>

    </EditForm>

</div>

@code { private SupermarketViewModel supermarket = new SupermarketViewModel();


    private async Task InsertSupermarket()
    {
        var retorno = await apiService.CreateSupermarket(supermarket);
        Navigation.NavigateTo("/supermarket");
    } 
    }
