@page "/"

<h1>Hello!</h1>

Welcome to your SupermarketPrice app.

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-question-mark mr-2" aria-hidden="true"></span>

    How is the price today
    <span class="oi oi-question-mark mr-2" aria-hidden="true"></span>

</div>

